@page "/taxi"
@inject ApiService Api

<h3>Give taxi trip information</h3>

<EditForm Model="@model" OnValidSubmit="Submit">

    <InputNumber @bind-Value="model.Trip_Distance_km" />
    <InputText @bind-Value="model.Time_of_Day" />
    <InputText @bind-Value="model.Day_of_Week" />
    <InputNumber @bind-Value="model.Passenger_Count" />
    <InputText @bind-Value="model.Traffic_Conditions" />
    <InputText @bind-Value="model.Weather" />
    <InputNumber @bind-Value="model.Base_Fare" />
    <InputNumber @bind-Value="model.Per_Km_Rate" />
    <InputNumber @bind-Value="model.Per_Minute_Rate" />
    <InputNumber @bind-Value="model.Trip_Duration_Minutes" />

    <br />
    <button type="submit">PREDICT COST</button>

</EditForm>

@if (predictedCost != null)
{
    <h3>Predicted cost: @predictedCost</h3>
}

<hr />

<h3>Raw data</h3>

@if (rawData == null)
{
    <p>Loading...</p>
}
else
{
    <table>
        <thead>
            <tr>
                @foreach (var key in rawData.First().Keys)
                {
                    <th>@key</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var row in rawData)
            {
                <tr>
                    @foreach (var val in row.Values)
                    {
                        <td>@val</td>
                    }
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private TaxiValues model = new();
    private double? predictedCost;
    private List<Dictionary<string, object>>? rawData;

    protected override async Task OnInitializedAsync()
    {
        rawData = await Api.GetRawData();
    }

    private async Task Submit()
    {
        predictedCost = await Api.Predict(model);
    }
}